# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# TSV files
*.tsv

!breakLoop.cpp
!hell
!runTest.cpp
!test
!test.txt
!pa4
!dang
!file1.txt
!file2.txt
!file3.txt
